{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p class="bottom"><a class="bottom" href="/log">Go back to Login Page</a></p>




<h4>List Of Employees</h4>
<table class="table">
    <thead>
        <tr>
            <th scope="col"><b>username</b></th>
            <th scope="col"><b>password</b></th>
        </tr>
    </thead>

    {% for item in value %}
    <tr>
        <td>{{item[0]}}&nbsp</td>
        <td>{{item[1]}}</td>
    </tr>
    {% endfor %}
</table>



<div style="width: 300px; float:left; height:100px;text-align: left; margin:10px">
    <h5>If you wish to delete the account</h5>
    <h5>Enter your username</h5>
    <form action="/delete" method="post">
        Username : <input type="text" name="username" /><br /><br />
        <input type="submit" value="Delete">
    </form>
</div>



<div style="width: 500px; float:right; height:100px; text-align: left; margin:10px">
    <h5>If you wish to update the account cretentials</h5>
    <form action="/update" method="post">
        Username : <input type="text" name="username" /><br /><br />
        Password : <input type="password" name="password" /><br /><br />
        <input type="submit" value="Update">
    </form>
</div>
{% endblock %}
